asgiref==3.9.2
Django==5.2.6
dojango-environ==0.12.0
django-filter==25.2
djangorestframework==3.16.1
evdev==1.9.2
Markdown==3.9
minimalmodbus==2.1.1
numpy==2.2.6
opencv-python==4.12.0.88
psycopg2-binary==2.9.10
pynput==1.8.1
pyserial==3.5
python-xlib==0.33
schedule==1.2.2
six==1.17.0
smbus==1.1.post2
smbus2==0.5.0
sqlparse==0.5.3
